<form (ngSubmit)="onSubmit()"
      [formGroup]="form"
      *ngIf="formReady">

    <ng-content select="pre-fields"></ng-content>

    <div *ngFor="let field of formModel"
         class="form-row">

        <ng-container [ngSwitch]="field.controlType">

            <app-reactive-input 
                *ngSwitchCase="'inputText'"
                [field]="field"
                [parentForm]="form">
            </app-reactive-input>

            <mat-form-field class="w100"
                            *ngSwitchCase="'inputFile'">
                <label for=""
                       [innerHtml]="field.label"></label>
                <app-file-upload [formControlName]="field.id"
                                 [appDisableControl]="field.disabled"
                                 [accept]="field.accept">
                </app-file-upload>
            </mat-form-field>

            <div *ngSwitchCase="'select'">
                <app-reactive-select
                    [field]="field"
                    [parentForm]="form"
                >
                </app-reactive-select>
            </div>

            <div *ngSwitchCase="'textarea'">
                <label for=""
                       [innerHtml]="field.label"></label>
                <textarea [formControlName]="field.id"
                          [appDisableControl]="field.disabled"
                          [rows]="field.rows"
                          [ngStyle]="{'resize': field.resize ? 'auto' : 'none'}"
                          class="form-control"></textarea>
            </div>

        </ng-container>

    </div>

    <ng-content select=".post-fields"></ng-content>

    <div class="form-row"
         *ngIf="config.showCancel || config.showSubmit">
        <button *ngIf="config.showCancel"
                mat-button
                (click)="form.reset()"
                type="button">Reset</button>
        <button *ngIf="config.showSubmit"
                mat-button
                color="primary"
                type="submit"
                [disabled]="!form.valid">Salva</button>
    </div>
</form>