<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary">

        <button *ngIf="options.showToggle" mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <ng-content select=".header-content"></ng-content>
        <app-login></app-login>
    </mat-toolbar>
    
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav 
            #sidenav
            [opened]="options.opened" 
            [mode]="mobileQuery.matches ? 'over' : 'side'" 
            [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <mat-nav-list>
                <a mat-list-item [routerLink]="[nav.url]"  routerLinkActive="active-nav" *ngFor="let nav of navItem">{{nav.label}}</a>
                <ng-content select=".menu-content"></ng-content>
            </mat-nav-list>
            <mat-nav-list>
                <a mat-list-item routerLink="statistics"  routerLinkActive="active-nav">Statistics</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <ng-content select=".page-content"></ng-content>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>