<ng-container *ngIf="field">
    <label [for]="field.id" [innerHTML]="field.label"></label>
    <mat-radio-group [id]="field.id"
                     [formControlName]="field.id">
        <mat-radio-button *ngFor="let v of field.values"
                          [value]="v.key">
            {{v.value}}
        </mat-radio-button>
    </mat-radio-group>
</ng-container>

<app-field-errors [fieldControl]="formControl"></app-field-errors>