footer {
    background: #3f51b5;
    color:white;
    padding: 5px 20px;
    display:flex;
    justify-content: center;
    flex-direction: row;
    >div {
        flex: 1 1 0;
        align-self: center;
    }
    &.fixed {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: block;
    }
}