<footer color="primary" [ngClass]="{'fixed': fixed}">
    <div>this is my footer</div>
    <div class="text-center">Copyleft 2019</div>
    <div class="text-right"><app-newsletter-signup></app-newsletter-signup></div>
</footer>