/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.blockCenter {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 10px 20px;
}
.container-fluid {
    margin: 40px 5px;
    padding: 10px 20px;
}

.justify-contents {
    display: flex;
    justify-content: center;
}