<mat-form-field *ngIf="field">
    <label [for]="field.id"
           [innerHtml]="field.label"></label>
    <input matInput
           [id]="field.id"
           [formControlName]="field.id"
           [appDisableControl]="field.disabled"
           [type]="field.type"
           class="form-control"
           [placeholder]="field.placeholder">
</mat-form-field>

<app-field-errors [fieldControl]="formControl"></app-field-errors>
