<mat-form-field *ngIf="field">
    <mat-label [innerHtml]="field.label">Cars</mat-label>
    <mat-select [formControlName]="field.id">
        <mat-option *ngIf="field.placeholder">{{field.placeholder}}</mat-option>
        <mat-option *ngFor="let option of field.options"
                [value]="option.key">
            {{option.value}}
        </mat-option>
    </mat-select>
</mat-form-field>

<app-field-errors [fieldControl]="formControl"></app-field-errors>