<ng-container *ngIf="userService.user$ | async as user">

    <small *ngIf="user.id; else guest">
        Hello u.name
        <button mat-button (click)="userService.logout()">LOGOUT</button>
    </small>

    <ng-template #guest>
        <button mat-button
                (click)="openLogin(loginForm)">
            login
        </button>
    </ng-template>

</ng-container>


<ng-template #loginForm>
    <app-dynamic-form 
        (formSubmission)="login($event)"
        [formModel]="formModel"></app-dynamic-form>
    <div>New here? <a href="javascript:void(0)" (click)="gotoSignup()">Signup now</a></div>
</ng-template>
