<!-- 
The Angular microsyntax lets you configure a directive in a compact, friendly string. 
The microsyntax parser translates that string into attributes on the <ng-template>:

    The let keyword declares a template input variable that you reference within the template. 
    The input variables in this example are hero, i, and odd. 
    The parser translates let hero, let i, and let odd into variables named, let-hero, let-i, and let-odd.

    The microsyntax parser takes of and trackBy, title-cases them (of -> Of, trackBy -> TrackBy), 
    and prefixes them with the directive's attribute name (ngFor), 
    yielding the names ngForOf and ngForTrackBy. 
    Those are the names of two NgFor input properties . 
    That's how the directive learns that the list is heroes and the track-by function is trackById.

    As the NgFor directive loops through the list, it sets and resets properties of its own context object. 
    These properties include index and odd and a special property named $implicit.

    The let-i and let-odd variables were defined as let i=index and let odd=odd. 
    Angular sets them to the current value of the context's index and odd properties.
    
    The context property for let-hero wasn't specified. Its intended source is implicit. 
    Angular sets let-hero to the value of the context's $implicit property which NgFor has initialized with
    the hero for the current iteration.

    The API guide describes additional NgFor directive properties and context properties.
    NgFor is implemented by the NgForOf directive. Read more about additional NgForOf directive properties 
    and context properties NgForOf API reference.
 -->
<div *ngFor="let hero of heroes; let i=index; let odd=odd; trackBy: trackById" [class.odd]="odd">
    ({{i}}) {{hero.name}}
</div>

<ng-template ngFor let-hero [ngForOf]="heroes" let-i="index" let-odd="odd" [ngForTrackBy]="trackById">
    <div [class.odd]="odd">({{i}}) {{hero.name}}</div>
</ng-template>



<!-- 
The Angular NgSwitch is actually a set of cooperating directives: NgSwitch, NgSwitchCase, and NgSwitchDefault.
 -->
<div [ngSwitch]="hero?.emotion">
    <app-happy-hero *ngSwitchCase="'happy'" [hero]="hero"></app-happy-hero>
    <app-sad-hero *ngSwitchCase="'sad'" [hero]="hero"></app-sad-hero>
    <app-confused-hero *ngSwitchCase="'confused'" [hero]="hero"></app-confused-hero>
    <app-unknown-hero *ngSwitchDefault [hero]="hero"></app-unknown-hero>
</div>

<!-- 
NgSwitch itself is not a structural directive. 
It's an attribute directive that controls the behavior of the other two switch directives. 
That's why you write [ngSwitch], never *ngSwitch.

NgSwitchCase and NgSwitchDefault are structural directives. 
You attach them to elements using the asterisk (*) prefix notation. 
An NgSwitchCase displays its host element when its value matches the switch value. 
The NgSwitchDefault displays its host element when no sibling NgSwitchCase matches the switch value. 
-->

<div [ngSwitch]="hero?.emotion">
    <ng-template [ngSwitchCase]="'happy'">
        <app-happy-hero [hero]="hero"></app-happy-hero>
    </ng-template>
    <ng-template [ngSwitchCase]="'sad'">
        <app-sad-hero [hero]="hero"></app-sad-hero>
    </ng-template>
    <ng-template [ngSwitchCase]="'confused'">
        <app-confused-hero [hero]="hero"></app-confused-hero>
    </ng-template>
    <ng-template ngSwitchDefault>
        <app-unknown-hero [hero]="hero"></app-unknown-hero>
    </ng-template>
</div>