<app-sidebar [options]="sidenavOptions">
    <button mat-icon-button
            routerLink="/"
            class="header-content">Home</button>


    <div class="page-content container">
        <pre>{{form.value | json}}</pre>
        <pre>form valid: {{form.valid}}</pre>
        <form [formGroup]="form"
              (ngSubmit)="registerUser(form)">
            <div>
                <app-reactive-select [field]="formModel.title"
                                     [parentForm]="form">
                </app-reactive-select>
            </div>
            <div>
                <app-reactive-input [field]="formModel.name"
                                    [parentForm]="form">
                </app-reactive-input>
            </div>
            <div>
                <app-reactive-input [field]="formModel.surname"
                                    [parentForm]="form">
                </app-reactive-input>
            </div>
            <div>
                <app-reactive-input [field]="formModel.email"
                                    [parentForm]="form">
                </app-reactive-input>
            </div>
            <div>
                <app-reactive-textarea [field]="formModel.notes"
                                       [parentForm]="form">
                </app-reactive-textarea>
            </div>
            <div>
                <app-reactive-radio [field]="formModel.gender"
                                    [parentForm]="form">
                </app-reactive-radio>
            </div>
            <div>
                <app-reactive-checkbox [field]="formModel.privacy"
                                       [parentForm]="form">
                </app-reactive-checkbox>
            </div>
            <div>
                <app-reactive-checkbox [field]="formModel.tos"
                                       [parentForm]="form">
                </app-reactive-checkbox>
            </div>
            <div>
                <app-reactive-checkbox [field]="formModel.marketing"
                                       [parentForm]="form">
                </app-reactive-checkbox>
            </div>
            <button mat-button type="submit" [disabled]="form.invalid">Signup</button>
        </form>
    </div>

</app-sidebar>