<mat-form-field *ngIf="field">
    <label [for]="field.id" [innerHTML]="field.label"></label>
    <textarea matInput
            [id]="field.id"
              [formControlName]="field.id"
              [placeholder]="field.placeholder"></textarea>
</mat-form-field>

<app-field-errors [fieldControl]="formControl"></app-field-errors>